body {
    background-color: #333;
}

#board {
    margin: auto;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    height: 500px;
    width: 500px;
}

#board * {
    height: 150px;
    width: 150px;
    font-size: 7rem;
}

.menu {
    margin: auto;
    height: 200px;
    width: 100px;
}