body {
    background-color: #333;
}

#board {
    margin: auto;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5em;
    width: 500px;
    height: 500px;
}

button {
    font-size: 4rem;
}