body {
    background-color: #333;
    color: white;
}

div {
    border: 1px solid red;
    height: 100px;
    width: 100px;
}

.board {
    display: grid;
    grid-template-columns: auto auto auto;
}

.sqr {

}